
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@800&family=Rubik:wght@500&family=Source+Code+Pro:wght@700&display=swap');


 :root{

    --text-color: #252B42;
    --light-text-color:#FFF;
    --second-text-color: #737373;
    --danger-text-color:#E74040;
    --black:#000;
    --primary-color:#FF6551;
    --dark-background-color: #26335D;
 }



 *~{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 }


 a{
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px !important;
 }

 h1{
    color: var(--light-text-color);
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
 }
 
 .big_title{
   color: #ffffff;
   font-size: 50px;
   font-weight: 700;
   line-height: 60px;
   letter-spacing: 0.2px;
 }

 h6{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
 }

 h5{
    color: var(--light-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
 }

 h4{
    color: var(--light-text-color);
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
 }

 h3{
   color: var(--text-color);
   font-size: 34px;
   font-weight: 700;
   line-height: 41px;
   letter-spacing: 0.2px;
   font-family: 'Montserrat', sans-serif;
 }

 .h2{
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    letter-spacing: 0.2px;
 }

 span{
    color: var(--danger-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
 }

 p{
    color: var(--second-text-color, #737373);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
 }

 button{
    border-radius: 5px;
    background: var(--primary-color);
    border: none;
    color: var(--light-text-color) !important ;
 }

 button a{
    color: var(--light-text-color) !important ;
 }

 .fa-arrow-right{
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 1px;
 }

 .auth_link{
    gap: 15px;
 }

 .first_content{
   background-color: #E74040;
 }

 .title_do{
    color: var(--text-color);
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
 }
.number_introduction span{
    padding: 23px;
    background-color:#ECECEC;
    border-radius: 50px;
}

.icon_niveaux{
    border-radius: 10px;
    color: #FFF;
    padding: 20px 15px 20px 15px;
    font-size: 20px;
    background-color: var(--danger-text-color);
}

.card_title span{
    color: var(--text-color) !important;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.lin_card{
    max-width: 77px;
    border: 2px solid  var(--danger-text-color) ;
    
}

.number_introduction .card_introduction{
    padding: 40px 10px 52px 23px
}

.bg_static{
    background-color: var(--dark-background-color);
}

.learn_more{
    color:  var(--danger-text-color) ;
}

.profile-circel-image-200 img {
   width: 60px;
   height: 60px;
   border-radius: 20px;
}
.vv img {
   transition: all 0.3s ease;
   cursor: pointer;
}
.vv img:hover {
   opacity: 0.8;
   box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.08);
}

.avatar_logo{
 height: 60px;
 width: 60px;
}


.fa-star{
    color: yellow;
}
 @media screen and (max-width: 992px) {
    .image_side {
      display: none;
    }
    .content_introduction{
        width: 100%;
    }
  }

/* 
  contact */

  .input_contact{
   display: flex;
   width: 400px;
   height: 30px;
   padding: 12px 20px;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
   border: 1px solid var(--Gray-5, #E0E0E0);
  }



/*   Nos prof */

.btn-primary:hover,
        .btn-primary:focus {
            background-color: #108d6f;
            border-color: #108d6f;
            box-shadow: none;
            outline: none;
        }

        .btn-primary {
            color: #fff;
            background-color: #007b5e;
            border-color: #007b5e;
        }

        section {
            padding: 60px 0;
        }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

        #team .card {
            border: none;
            background: #ffffff;
        }

        .frontside .card .card-body img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .favoris_check{
         color: rgb(74, 72, 72) !important;
        }

        .favoris_seccusse{
         color: rgb(219, 227, 129)
        }
       



